# necessary for volumes_from, single-host oriented
version: '2'

services:
    browser_fpm:
        image: ${DOCKER_NAMESPACE}/browser:${REVISION_BROWSER}
        volumes:
            - /app/public
    dummy-api_fpm:
        image: ${DOCKER_NAMESPACE}/dummy-api:${REVISION_DUMMY_API}
    web:
        image: nginx:1.15.2-alpine
        volumes:
            - .docker/public-nginx.conf:/etc/nginx/conf.d/default.conf
        volumes_from:
            - browser_fpm
        ports:
            - ${PUBLIC_PORT}:80
